{% extends 'students/dashboard.html' %}

{% block content %}
<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for status in homework_statuses %}
        <tr>
          <th scope="row">{{ status.lesson.title }}</th>
          <td>{{ status.lesson.date }}</td>
          <td>
            {% if status.has_homework %}
              <a href="{% url 'students:homework_detail' status.lesson.id %}" class="btn btn-info">Bajarilgan</a>
            {% else %}
              <a href="{% url 'students:homework' status.lesson.id %}" class="btn btn-danger">Bajarilmagan</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
