{% extends 'students/dashboard.html' %}

{% block content %}
<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titel</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">lesson file</th>
      </tr>
    </thead>
    <tbody>
      {% for lesson in lessons %}
        <tr>
          <th scope="row">{{ lesson.title }}</th>
          <td>{{ lesson.date }}</td>
          <td>
            {% if lesson.homework_status %}
            <a href="{% url 'students:homework_detail' lesson.id %}" class="btn btn-info">Bajarilgan</a>
              
            {% else %}
            <a href="{% url 'students:homework' lesson.id %}" class="btn btn-danger">Bajarilmagan</a>
            {% endif %}
          </td>
          <td>
            {% if lesson.lesson_file %}
            <a href="{{ lesson.lesson_file.url }}">{{lesson.lesson_file}}</a>
            {% else %}
            No File
            {% endif %}
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
