{% extends 'teachers/dashboard.html' %}

{% block content %}
<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titel</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ lesson.title }}</th>
        <td>{{ lesson.date }}</td>
        <td>
          {% if lesson.homework_status %}
            <a href="{% url 'students:homework_detail' lesson.id %}" class="btn btn-info">Bajarilgan</a>
          {% else %}
            <a href="{% url 'students:homework' lesson.id %}" class="btn btn-danger">Bajarilmagan</a>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}