{% extends 'teachers/dashboard.html' %}

{% block content %}
<div class="mt-5">
  <h4>{{ lesson.title }} - Student Homework Submissions</h4>
</div>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Team</th>
        <th scope="col">Homework Status</th>
        <th scope="col">Homework File</th>
      </tr>
    </thead>
    <tbody>
        {% for homework in homeworks %}
        <tr class="table-info">
             <td><a href="#">{{ homework.student.user.first_name }}</a></td> <td>{{ homework.student.team.name }}</td>
            <td>{{ homework.lesson.homework_status|yesno:"Active,Inactive" }}</td>
            <td>
              {% if homework.homework_file %}
              <a href="{{ homework.homework_file.url }}">{{homework.homework_file}}</a>
              {% else %}
              No File
              {% endif %}
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}
